.headerContainer {
  color: black;
  display: flex;
  width: 100%;
  border: 2px solid #ccc;
  background-color: grey;
}
.logoHolder {
  color: #ebb82b;
  font-weight: bold;
  font-size: 35px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}
.userDetails {  
  display: flex;
  padding: 0px;
  margin-left: 75%;
}
.userDetails .nameContainer {
  padding: 1px;
  color: solid black;
  font-family: cursive;
  font-weight:bolder;
  font-size: xx-large;
  margin-top: 11px;
}
.userDetails .profileImageContainer {
  padding: 10px 5px;
}
.userDetails .profileImageContainer img {
  width: 50px;
  /* border: 1px solid black; */
  border-radius: 100px;
  padding: 2px;
  cursor: pointer;
}
.profileCard {
  position: fixed;
  color:black;
  background-color: #d7ee8c;
  text-align: center;
  top: 70px;
  right: 60px;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  font-style: italic;
  font-family: cursive;
  font-weight: lighter;
}
.profileCard .card1 {
  border-bottom: 1px solid white;
  padding: 5px 0px;
}
